@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  list-style-type: none;
  text-decoration: none;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header, .footer {
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.footer {
  background-color: #eeeeee
}

.right-links {  
  margin-left: auto;
}

.left-links, .right-links {
  display: flex;
  gap: 1rem;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 10px;
  background: #eee;
  height: 2rem;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  color: #666666;
}
